<launch>
   <arg name = "gnss_port" default = "/dev/ttyUSB0"/>
   <arg name = "gnss_module" default = "UM482"/>
   <arg name = "gnss_frame_id" default = "gnss"/>

   <node name="$(arg gnss_frame_id)" pkg = "um482_ros_wrapper" type= "um482_ros_wrapper_node" output="screen" >
	<rosparam command = "load" file = "$(find um482_ros_wrapper)/$(arg gnss_module).yaml"/>
   </node>

</launch>
